* {
    border: 0;
    padding: 0;
    margin: 0;

    color: white;
    font-family: Montserrat, serif;
}

section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.header {

    height: 80vh;

    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    scroll-snap-align: start;
}

.header h3 {
    color: #d9d9d9;
    font-weight: 500;
}

.header h2 {
    color: #dadada;
    font-weight: 800;
}

.header hr {
    width: 25%;
    border-bottom: 1px solid #ffffff;
    margin: 1rem 0;
}

.header a {
    color: #E50914;
    text-decoration: underline #E50914 1px;
    font-weight: 300;
}

.header .data {
    margin-top: 2em;
}

.description {
    width: 50%;
}

.logo {
    margin-top: 5em;
    height: 20em;
}

.scroll {
    font-size: 5em;
    font-weight: 1000;
    margin-top: auto;

    animation: float 6s ease-in-out infinite;
    cursor: pointer;
    user-select: none;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.tableau {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;

    background-color: #202020;
}

.flourish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;

    background-color: #303030;
}

.raw-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;

    background-color: #404040;
}

.data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #505050;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.flourish-embed {
    width: 42%;
    margin-bottom: 2em;
}